<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cyclone Development Company - Payroll</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery.ptTimeSelect.css') }}" rel="stylesheet">
    </head>

    <body>
        <!-- Y your in ma BaSE Lurkin my SOURCE?!? -->
        <div id="main-wrapper">
            <div class="container-narrow">

                <div class="masthead">
                    <ul class="nav nav-pills pull-right">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    </ul>
                    <h3 class="muted">Cyclone Development Company</h3>
                </div>
                <!-- Please continue reading these comments and waisint your timez -->
                <hr>

                <center><iframe width="420" height="315" src="http://www.youtube.com/embed/W8_Kfjo3VjU?autoplay=1" frameborder="0" allowfullscreen></iframe></center>

                <div id="push"></div>
            </div>

        </div>

        <div id="footer">
            <div class="container-narrow">
                <hr>
                <p>&copy; Cyclone Development Company 2013</p>
            </div>
        </div>

    </body>
</html>