{% extends "base.html" %}

{% block main %}



<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"><title>Team 5: 403 Forbidden!</title>
</head><body style="font-family:Tahoma">
  <table align="center" border="0" width="800">
    <tbody><tr><td><br></td></tr>
    <tr><td colspan="3" style="color:red;text-align:center"><h1>Team 5: 403 Forbidden</h1></td></tr>
    <tr><td colspan="3"><hr></td></tr>
    <tr><td><br></td></tr>
    <tr><td colspan="2" style="color:red"><strong><em>Captain</em></strong></td></tr>
    <tr><td><br></td></tr>
    <tr><td rowspan="5"><img src="Team%205_%20403%20Forbidden%21_files/734986_565618265066_1697967956_n.jpg" height="100">&nbsp;&nbsp;&nbsp;</td><td><strong>Name:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Corey Eichelberger</span></td></tr>
    <tr><td><strong>Majors:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Networking and System Administration (NaSA), <br> Electrical Engineering Technology</span></td></tr>
    <tr><td><strong>Year:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Junior</span></td></tr>
    <tr><td><strong>Cool Fact:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Corey has a cat named "Mr. Bigglesworth"</span></td></tr>
    <tr><td><br></td></tr>
    <tr><td><br></td></tr>
    <tr><td colspan="2" style="color:red"><strong><em>Other Teammates</em></strong></td></tr>
    <tr><td><br></td></tr>
    <tr><td rowspan="5"><img src="Team%205_%20403%20Forbidden%21_files/563335_565618270056_646963009_n.jpg" height="100">&nbsp;&nbsp;&nbsp;</td></tr>
    <tr><td><strong>Name:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Nicholas Olson</span></td></tr>
    <tr><td><strong>Majors:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Networking and System Administration (NaSA), <br> Philosophy</span></td></tr>
    <tr><td><strong>Year:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Senior</span></td></tr>
    <tr><td><strong>Cool Fact:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Nick is a certified White-Water Rafting Guide and loves tacos</span></td></tr>
    <tr><td><br><br></td></tr>
    <tr><td rowspan="5"><img src="Team%205_%20403%20Forbidden%21_files/421467_565618285026_1139400045_n.jpg" height="100">&nbsp;&nbsp;&nbsp;</td></tr>
    <tr><td><strong>Name:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Alex Mumm</span></td></tr>
    <tr><td><strong>Major:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Bachelor of Science in Computer Science<br></span></td></tr>
    <tr><td><strong>Year:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Senior</span></td></tr>
    <tr><td><strong>Cool Fact:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Alex has an omelette everyday for lunch</span></td></tr>
    <tr><td><br><br></td></tr>
    <tr><td rowspan="5"><img src="Team%205_%20403%20Forbidden%21_files/291827_529320481116_4684127_n.jpg" height="100">&nbsp;&nbsp;&nbsp;</td></tr>
    <tr><td><strong>Name:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Aaron Stroschein</span></td></tr>
    <tr><td><strong>Major:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Bachelor of Arts in Computer Science<br></span></td></tr>
    <tr><td><strong>Year:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Senior</span></td></tr>
    <tr><td><strong>Cool Fact:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Aaron's first degree is in Graphic Design</span></td></tr>
    <tr><td><br><br></td></tr>
    <tr><td rowspan="5"><img src="Team%205_%20403%20Forbidden%21_files/165919_565618304986_1129661481_n.jpg" height="100">&nbsp;&nbsp;&nbsp;</td></tr>
    <tr><td><strong>Name:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Mayank Sarathe</span></td></tr>
    <tr><td><strong>Major:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Bachelor of Science in Computer Science<br></span></td></tr>
    <tr><td><strong>Year:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Senior</span></td></tr>
    <tr><td><strong>Cool Fact:&nbsp;&nbsp;&nbsp;</strong></td><td><span>Mayank likes System Administration</span></td></tr>
    <tr><td><br></td></tr>
    <tr><td><br></td></tr>
  </tbody></table>  

</body></html>

{% endblock %}

