{% extends "base.html" %}

{% block main %}

    <div class="alert-wrapper">
        <div id="success" class="alert alert-success hide">Success</div>
        <div id="error" class="alert alert-danger" style="display: none;">Error</div>
    </div>

   <div class="table-buttons">
       <a href="#addUserModal" role="button" id="add-user-button-{{user.username}}" class="btn btn-primary pull-right" data-toggle="modal">Modify User</a>
   </div>

    <table id="admin-table" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>User</th>
            <th>SSN</th>
            <th>Wage</th>
            <th>Approver</th>
            <th>Admin</th>
            <th>Timesheets</th>
        </tr>
        </thead>
        <tbody>
        {% if users %}
            {% for user in users %}
                    {% if not user.username == encrypt("shanna") %}
	                    <tr id="row-{{ sanitize(decrypt(user.username)) }}">
	                        <td>{{ sanitize(decrypt(user.username)) }}</td>
	                        <td>{{ mask_ssn(sanitize(decrypt(user.ssn))) }}</td>
	                        <td>{{ sanitize(decrypt(user.wage)) }}</td>
	                        <td>{{ user.is_approver }}</td>
	                        <td>{{ user.is_admin }}</td>
	                        <td><a href="/export/{{ decrypt(user.username) }}" class="btn btn-inverse"><i class="icon-file icon-white"></i>&nbsp;Download&nbsp;Timesheet</a></td>
	                    </tr>
	                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <div id="addUserModal" class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 id="myModalLabel">Modify a User</h3>
        </div>
        <div class="modal-body">
            <form class="add-user-form form-horizontal" id="add-user-form" data-async data-target="#" action="/admin/" method="post">
                <div class="control-group">
                    <label class="control-label">Username</label>
                    <div class="controls">
                        {{ form.username }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">SSN (write once)</label>
                    <div class="controls">
                        {{ form.ssn }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Wage</label>
                    <div class="controls">
                        {{ form.wage }}
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="add-user-submit" class="btn btn-primary">Modify User</button>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>
        $(document).ready(function() {
            var timeout;

            $(document).on('click', '#add-user-submit', function() {
                var $form = $('#add-user-form');
                var $target = $($form.attr('data-target'));
                var $addModal = $('#addUserModal');
                var $addModal_inputs = $('#addUserModal input');

                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),

                    success: function(data, status) {
                        if(data == "success"){
                            $addModal.modal('hide')
                            $addModal_inputs.val('');
                            $addModal_inputs.attr('checked', false);
                            $('#success').html('Successfully modified user (refresh page to view changes).').fadeIn();
                            $('#success').fadeIn();
                        } else {
                            $addModal.modal('hide')
                            $('#error').html(data).fadeIn();
                            $('#error').fadeIn();
                        }
                        
                        timeout = setTimeout(function() { $success.fadeOut() }, 3000);
                    }
                });

            });

        });

    </script>

{% endblock %}
