{% extends "base.html" %}

{% block main %}

    <div class="alert-wrapper">
        <div id="success" class="alert alert-success hide">Success</div>
        <div id="error" class="alert alert-danger" style="display: none;">Error</div>
    </div>

    <table id="approve-table" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Clock In</th>
            <th>Clock Out</th>
            <th>Approve</th>
        </tr>
        </thead>
        <tbody>
        {% if records %}
            {% for record in records %}
                <tr>
                    <td>{{ sanitize(decrypt(record.username)) }}</td>
                    <td>{{ sanitize(record.date.strftime('%B %d')) }}</td>
                    <td>{{ sanitize(record.clock_in.strftime('%I:%M %p')) }}</td>
                    <td>{{ sanitize(record.clock_out.strftime('%I:%M %p')) }}</td>
                    <td class="centered-td"><button class="btn btn-success btn-approve" id="approve-{{ record.id }}" type="button"><i class="icon-ok icon-white"></i> Approve</button></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}

{% block js %}

    <script>
        $(document).ready(function() {
            var timeout;
            $('.btn-approve').click(function() {
                $.post("{{ url_for('approve') }}", {'id': $(this).attr('id'), 'approver': "{{ user.username }}"},
                        function(responseData) {
                            clearTimeout(timeout);
                            if (responseData) {
                                if(responseData == "success"){
                                    $('#success').html('Time record approved.');
                                    $('.btn-approve').parent().html('{{ sanitize(decrypt(user.username)) }}');
                                    $('#success').fadeIn();
                                } else {
                                    $('#error').html(responseData);
                                    $('#error').fadeIn();
                                }
                                timeout = setTimeout(function() {$('#success').fadeOut()}, 3000);
                            }
                        });
            });
        });

    </script>

{% endblock %}