<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cyclone Development Company - Payroll</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery.ptTimeSelect.css') }}" rel="stylesheet">
    </head>

    <body>
        <!-- Y your in ma BaSE Lurkin my SOURCE?!? -->
        <div id="main-wrapper">
            <div class="container-narrow">

                <div class="masthead">
                    <ul class="nav nav-pills pull-right">
                    {% if not user %}
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        {% if user.is_admin %}
                            <li><a href="{{ url_for('admin') }}">Admin</a></li>
                        {% endif %}
                        {% if user.is_approver %}
                            <li><a href="{{ url_for('approve') }}">Approve</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('payroll') }}">Payroll</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                    </ul>
                    <h3 class="muted">Cyclone Development Company</h3>
                </div>
                <!-- Please continue reading these comments and waisint your timez -->
                <hr>

                {% block main %}{% endblock %}

                <div id="push"></div>
            </div>

        </div>

        <div id="footer">
            <div class="container-narrow">
                <hr>
                <p>&copy; Cyclone Development Company 2013</p>
            </div>
        </div>

        <!-- JavaScript at the bottom for fast page loading -->

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}" ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.maskedinput-1.3.min.js') }}" ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ptTimeSelect.js') }}" ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <!-- Additional JavaScript libraries and plugins... -->
        {% block js %}{% endblock %}

    </body>
</html>