<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cyclone Development Company - Payroll</title>

        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    </head>

    <body>
        <div id="main-wrapper">
            <div class="container-narrow">

                <div class="masthead">
                    <ul class="nav nav-pills pull-right">
                        <li{% if nav == "home" %} class="active"{% endif %}><a href="{{ url_for('home') }}">Home</a></li>
                        <li{% if nav == "about" %} class="active"{% endif %}><a href="{{ url_for('about') }}">About</a></li>
                        <li{% if nav == "login" %} class="active"{% endif %}><a href="{{ url_for('login') }}">Login</a></li>
                    </ul>
                    <h3 class="muted">Cyclone Development Company</h3>
                </div>

                <hr>

                {% block main %}{% endblock %}

                <div id="push"></div>
            </div>

        </div>

        <div id="footer">
            <div class="container-narrow">
                <hr>
                <p>&copy; Cyclone Development Company 2013</p>
            </div>
        </div>

        <!-- JavaScript at the bottom for fast page loading -->

        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

        <!-- Additional JavaScript libraries and plugins... -->
        {% block js %}{% endblock %}

    </body>
</html>