{% extends "base.html" %}

{% block main %}

    <div class="jumbotron">
		<div class="row-fluid">
			<img class="span4 main-logo" src="{{ url_for('static', filename='img/cyclone_text.png') }}">
			<h1 class="span8">Cyclone Development Company</h1>
		</div>
		<br>
        <p class="lead">Cyclone Development Company is here to serve your web application development needs.  Whether you need a small website, or a full blown web application, we have the tools and experience to make it a success. </p>
    </div>

{% endblock %}