{% extends "base.html" %}

{% block main %}

    <img class="main-logo" src="{{ url_for('static', filename='img/cyclone_text.png') }}">
    <div class="jumbotron">
        <div style="margin-left: 170px;">
            <h1>Cyclone Development Company</h1>
        </div>
        <p class="lead">Cyclone Development Company is here to serve your web application development needs.  Whether you need a small website, or a full blown web application, we have the tools and experience to make it a success. </p>
    </div>

{% endblock %}