{% extends "base.html" %}

{% block main %}

    <div class="alert-wrapper">
        <div id="success" class="alert alert-success hide">Success</div>
        <div id="error" class="alert alert-danger" style="display: none;">Error</div>
    </div>

    <div class="row">
{#        <div class="span12">#}
            <div style="text-align: center">
                <a href="{{ url_for('payroll') }}">Current Week</a>
            </div>
{#        </div>#}
    </div>


    <div class="payroll-paginator">
        <a href="{{ url_for('payroll', payroll_user=decrypt(payroll_username), week=prev_timestamp) }}" class="icon-arrow-left"></a>
        <div class="boundaries">
            {{ sanitize(start_date.strftime("%A, %B %d")) }} &nbsp; - &nbsp;
            {{ sanitize(end_date.strftime("%A, %B %d")) }}
        </div>
        <a href="{{ url_for('payroll', payroll_user=decrypt(payroll_username), week=next_timestamp) }}" class="icon-arrow-right"></a>
    </div>

    <form class="payroll-form" id="payroll-form" method="post">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Day</th>
                <th>Date</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Hours</th>
                <th>Approved By</th>
            </tr>
            </thead>
            <tbody>
            {% if table_rows %}
                {% for row in table_rows %}
                    <tr>
                        <td>{{ sanitize(row.date.strftime('%A')) }}</td>
                        <td>{{ sanitize(row.date.strftime('%B %d')) }}</td>
                        <td><input type="text" id="clockin-{{ row.id }}" name="clockin-{{ row.id }}" value="{% if row.clock_in %}{{ row.clock_in.strftime('%I:%M %p') }}{% endif %}" class="payroll-input-clockin"></td>
                        <td><input type="text" id="clockout-{{ row.id }}" name="clockout-{{ row.id }}" value="{% if row.clock_out %}{{ row.clock_out.strftime('%I:%M %p') }}{% endif %}" class="payroll-input-clockout"></td>
                        <td>{% if row.hours %}{{ '%0.2f' % row.hours }}{% endif %}</td>
                        <td class="centered-td">{% if row.approved %}{{ sanitize(decrypt(row.approved_by)) }} {% elif user.is_approver and row.clock_in and row.clock_out %} <button class="btn btn-success btn-approve" id="approve-{{ row.id }}" type="button"><i class="icon-ok icon-white"></i> Approve</button> {% endif %}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <input type="submit" value="Save" class="btn btn-primary btn-large pull-right">
    </form>

{% endblock %}

{% block js %}

    <script>
        $(document).ready(function() {
            // find the input fields and apply the time select to them.
            $('.payroll-input-clockin').ptTimeSelect();
            $('.payroll-input-clockout').ptTimeSelect();

            var timeout;
            $('.btn-approve').click(function() {
                $.post("{{ url_for('approve') }}", {'id': $(this).attr('id'), 'approver': "{{ user.username }}"},
                        function(responseData) {
                            clearTimeout(timeout);
                            if (responseData) {
                                if(responseData == "success"){
                                    $('#success').html('Time record approved.');
                                    $('.btn-approve').parent().html('{{ sanitize(decrypt(user.username)) }}');
                                    $('#success').fadeIn();
                                } else {
                                    $('#error').html(responseData);
                                    $('#error').fadeIn();
                                }
                                timeout = setTimeout(function() {$('#success').fadeOut()}, 3000);
                            }
                        });
            });
        });
    </script>

{% endblock %}